// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.letter {
  list-style: none;
  display: inline-block;
  border: 1px solid gray;
  background-color: #3598DC;
  text-align: center;
  padding: 16px;
  width: 40px;
  height: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 8px;
}

#searchbar {
  padding: 8px 16px;
  border-radius: 16px;
  width: 200px;
}

#button {
  padding: 8px 16px;
  border-radius: 4px;
}

ul {
  width: 100%;
  text-align: center;
}

li {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

a {
  text-decoration: none;
  color: #8abce8;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

form {
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}
